<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635645290876-i91mscfknb8qgnce1li5rsvfg5obgic3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635645290876-i91mscfknb8qgnce1li5rsvfg5obgic3</string>
	<key>API_KEY</key>
	<string>AIzaSyCq3SXbslTtd5CDYzWKNXuL97-pg5HZp9U</string>
	<key>GCM_SENDER_ID</key>
	<string>635645290876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fin.gitIssue</string>
	<key>PROJECT_ID</key>
	<string>git-issues</string>
	<key>STORAGE_BUCKET</key>
	<string>git-issues.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635645290876:ios:8467d103b7f8a35b215cf9</string>
</dict>
</plist>